<header class="header">
  <div class="container header__container">
    <a href="./#hero" class="header__logo">
      Velinq<span class="header__logo-accent">-Matic</span>
    </a>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a href="./#hero" class="header__link">Главная</a></li>
        <li class="header__item"><a href="./#platform" class="header__link">Платформа</a></li>
        <li class="header__item"><a href="./#innovations" class="header__link">Инновации</a></li>
        <li class="header__item"><a href="./#blog" class="header__link">Блог</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--primary">Связаться</a>
      <button class="header__burger" aria-label="Открыть меню">
        <i data-lucide="menu"></i>
      </button>
    </div>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu__content">
      <ul class="mobile-menu__list">
        <li><a href="./#hero" class="mobile-menu__link">Главная</a></li>
        <li><a href="./#platform" class="mobile-menu__link">Платформа</a></li>
        <li><a href="./#innovations" class="mobile-menu__link">Инновации</a></li>
        <li><a href="./#blog" class="mobile-menu__link">Блог</a></li>
      </ul>
      <a href="./#contact" class="btn btn--primary mobile-menu__btn">Связаться</a>
    </div>
  </div>
</header>